
        <div id="first">
            <div id="logo">
                <img src="./assets/download.jpg">
            </div>
            <div id="text">
                <h1> BHILWARA INFOTECH</h1>
            </div>
        </div>
        <div id="second">
           <marquee> WELCOME TO BHILWARA GROUP</marquee>
        </div>
        <div class="slides">
            
                <img class="mySlides" src="./assets/banner3.jpg">
                <img class="mySlides" src="./assets/banner4.jpg">
              </div>
              
              
                <div id="final">
                    <div id="div1">
                        <p>Contact Number<br>
                        080 4288 6666</p>
                    </div>
                    <div id="div2">
                        Address<br>
                        Fortune Summit Business Park, No. 244, 1st Floor,
                         6th Sector, HSR Layout,<br> Silk Board Junction,
                          Hosur Main Road, Bengaluru, Karnataka 560068
                    </div>
                    <div id="div3">
                        <p>Fax<br>
                        123456789</p>   
                    </div>
                </div>
            
       


   
